@import "https://fonts.googleapis.com/css?family=Noto Sans";

$heading1: 36px bold;
$heading2: 30px semibold;
$heading3: 24px semibold;
$heading4: 18px regular;
$heading5: 14px regular;
$paragraph: 18px regular;
$paragraphSml: 14px regular;

$fontPrimary: "Noto", sans-serif;
